{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "codeFrame": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 2,
    "no-unused-vars": "off",
    "no-console": 0,
    "quotes": [2, "single"],
    "no-multiple-empty-lines": [1, {
      "max": 2
    }],
    "no-mixed-spaces-and-tabs": [2, false]
  }
}