.formContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eeeee0;
}
.cardStyle {
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formTitle {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}
.formButton {
  width:100%;
}
.otherInfo {
  text-align: center;
  color: #00bfff;
}
.otherInfo > span {
  font-size: 16px;
  cursor: pointer;
  margin: 0 4px;
}
.spinContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.26);
}