.App {
  text-align: center;
}

.AppHeader {
  background-color: #00BFFF;
  height: 150px;
  padding: 20px;
  color: white;
}

.AppTitle {
  font-size: 1.5em;
}

.buttonStyle {
  margin: 10px 20px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 10px;
  height: auto;
  min-height: 400px;
  background: #fff;
}

.headerStyle {
  background-color: #00BFFF;
  height: 64px;
}

.trigger {
  font-size: 24px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s;
  color: #fff
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}